* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    text-align:center;
    width:100%;
    Height: 50px;
    padding-top: 5px;
    background-color: deepskyblue;
    color:aqua;
    padding-bottom: 70px;
    box-shadow: 0px 10px 25px gray;

}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #aaaaaa;
}

.about-me h2{
    Text-align:center;
}

.about-me p {
    text-align: center;
}
#skills {
    margin:10px 30% 10px 30%;
    list-style: circle;
    padding-left:18%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0,0,0, 0.3);
}
.deployed {
    display:flex;
    padding:50px;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.cards {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 30px;
  }
  
#hidden {
    display:none;
}

.deployed h2{
    text-align:center;
    width:100%;
    margin:10px 10px 0px 0px;
    cursor:none
}


.contact-me {
    text-align: center;
}

.contact-me ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
}